body{
    background-color: linen;
}

.main-body{
    text-align: center;
    display: grid;
    grid-template-columns: 30vw 40vw 30vw;
    grid-template-rows: 100vh;
    grid-template-areas: "leftcontent middlecontent rightcontent";
}

.left-content{
    grid-area: leftcontent;
    align-self: center;
    justify-self: right;
}

.right-content{
    grid-area: rightcontent;
    align-self: center;
}

.middle-content{
    grid-area: middlecontent;
    align-self: center;
}

#my-info {
    list-style-type: none;
    width: 350px;
}

#chip-skill {
    list-style-type: none;
    text-align: left;
}

.chip {
    margin-bottom: 10px;
    margin-top: 10px;
    transition-duration: 500ms;
}

.chip:hover {
    cursor: crosshair;
    transform: scale(1.2);
    transform-origin: center;
    transition-duration: 150ms;
}

#my-head{
    transition-duration: 2s;
}

#my-head:hover{
    transform: scale(1.1);
    transform-origin: center;
    transition-duration: 1s;
}
div.collapsible-header{
    background-color: snow;
    justify-content: center;
}

div.collapsible-body{
    background-color: #fff;
}
div.collapsible-body span{
    font-size: 14pt;
}

.social-icons li{
    display: inline;
    padding: 0px 10px;
}
.social-icons i {
    font-size: 2.0rem;
    transition-duration: 500ms;
}